@import 'tailwindcss';
@import '@solana/wallet-adapter-react-ui/styles.css';
@import '@saep/config/tailwind/tokens.css';
@import '@saep/config/tailwind/shared.css';

html,
body {
  background-image: url('/paper-texture.png');
  background-repeat: repeat;
}

.bg-paper,
.bg-paper-2 {
  background-image: url('/paper-texture.png');
  background-repeat: repeat;
}
